{% extends "base.html" %}
{% block content%}

    <nav class="navbar navbar-light bg-light">
    <form method="POST" action="/">
    <div class="form-row">
        <div class="col">
        Nome: </br>
        <input type="text" class="form-control mr-sm-2"  name="nome"></BR>
        </div>
        <div class="col">
        CPF : </br>
        <input type="text" class="form-control mr-sm-2"  name="cpf" maxlength="11"></br>
        </div>
        <div class="col">
        Idade: </br>
        <input type="text" class="form-control mr-sm-2"  name="idade" maxlength="3"></br>
        </div>
        <div class="col"></br>
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="ADICIONAR">
        </div>
    </div>
    </form> 
    </nav>
    

    <table class="table table-bordered"> 
        <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">CPF</th>
            <th scope="col">IDADE</th>
        </thead>
    {% for pessoa in pessoas %}
        <tbody>
            <tr>
                <th scope="row">{{pessoa.id}}</th>
                <td>{{pessoa.name}}</td>
                <td>{{pessoa.cpf}}</td>
                <td>{{pessoa.idade}}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}